.va-title h5{
	color: #23282d;
	font-size: 20px
}

.mt30{
	margin-top: 30px
}
.ml20{
	margin-left: 20px;
}
.mr50{
	margin-right: 55px
}
ul.tabs-content,
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: transparent;
	border: 1px solid #ccc;
	border-bottom: #fff;
	position: relative;
	color: #222;
}

ul.tabs li.current::before{
	content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: -1px;
    z-index: 10;
    left: 0;
}

.tab-content{
	display: none;
	background: #fff;
	border: 1px solid #ccc;
	position: relative;
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}

.tab-content-2{
	display: none;
	background: #fff;
	border: 1px solid #ccc;
	position: relative;
	padding: 15px;
}

.tab-content-2.current{
	display: inherit;
}

.mr10{
	margin-right: 10px;
}

.relative{
	position: relative;
}

.va-add-menu{
	color: #000;
    border-color: #c4cdd5;
    display: inline-block !important;
    text-align: right;
    float: right;
}


.input-group-va {
    position: relative;
}
.input-group-va {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.input-group-va label {
    position: absolute;
    top: 6px;
    pointer-events: none;
    left: 10px;
    transition: .4s cubic-bezier(.25, .8, .25, 1);
}

label {
    display: inline-block;
    cursor: pointer;
}

.input-group-va input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.input-group-va input[type=password]:focus,
.input-group-va input[type=text]:focus {
    background: rgba(41, 170, 227, 0.05);
    border-bottom: 1px solid #29aae3;
}

.input-title-focus label {
    color: #29aae3;
    transform: translate(-18px) scale(0.75);
    top: -20px;
    left: 15px;
}

.right{
	float: right;
}

ul.tabs-content-2,
ul.tabs-2{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs-2 li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs-2 li.current{
	background: transparent;
	border: 1px solid #ccc;
	border-bottom: #fff;
	position: relative;
	color: #222;
}

ul.tabs-2 li.current::before{
	content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: -1px;
    z-index: 10;
    left: 0;
}

.mr15{

	margin-right:15px;
}

.ml15{
	margin-left:15px;
}

.input-name-menu{
	outline: 0;
	width: 250px;
	padding: 5px 10px;
}

.p0{
	padding: 0
}

.input-name-menu{
	height: 29px
}

.va-panel-heading{
	padding:10px;
	display: flex;
	justify-content: space-between;
	align-items: center
}

.va-btn-default{
	border: 1px solid #ccc;
}

.pb20{
	padding-bottom: 20px !important;
}

.w100{
	width: 100%;
}

.va-panel-body{
	padding: 10px;
}

.va-arrow{
	transform: rotate(180deg);
	transition: 0.2s all ease-in-out
}

.va-collapse{
	transition: 0.2s all ease-in-out
	
}

input[type=checkbox]{
	margin: 0;
}

label{
	margin-bottom: 0;
}

.mb5{
	margin-bottom: 5px;
}

.va-checkbox{
	font-weight: normal;
	font-size:13px;
	color: blue;
}

.nestable-menu {
  padding: 0;
  margin: 10px 0 20px 0;
}
.nestable-output,
.nestable2-output {
  width: 100%;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: open sans, lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nestable2 .dd-handle {
  color: inherit;
  border: 1px dashed #e7eaec;
  background: #f3f3f4;
  padding: 10px;
}
.nestable2 span.label {
  margin-right: 10px;
}
.nestable-output,
.nestable2-output {
  font-size: 12px;
  padding: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.nestable2 .dd-item > button {
  font-family: FontAwesome;
  height: 34px;
  width: 33px;
  color: #c1c1c1;
}
.nestable2 .dd-item > button:before {
  content: "\f067";
}
.nestable2 .dd-item > button[data-action="collapse"]:before {
  content: "\f068";
}

.va-handle{
	padding-right: 125px !important;
}

.va-label{
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.va-search{
	min-width: 250px;
}

.va-first-p{
	text-transform: capitalize;
}

.m0{
	margin: 0 !important;
}

.h32{
	height: 32px
}

.uk-clearfix:before {
    content: "";
    display: table-cell
}

.uk-clearfix:after {
    content: "";
    display: table;
    clear: both
}

.float-right{
	float:right;
}

.va-uppercase{
	text-transform: uppercase;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#add_attribute,
#add_brand{
	background-color: transparent;
	color: blue;
	padding: 0
}
#add_attribute:hover,
#add_brand:hover{
	text-decoration: underline;
}

.label-title{
	color:#1a1a1a;
	font-weight: 600;
}
input[type=checkbox], input[type=radio]{
	cursor: pointer;
}

.brand-avatar{
	width: 30%;
	margin-right: 30px
}
.brand-content{
	width:70%;
}
.brand-content input{
	width: 100%
}

#toogle_readonly{
	position: absolute;
    width: 17px;
    height: 17px;
    border: 0;
    right: 8px;
    top: 8px;
    cursor: pointer;
	user-select: none;
}

.bootstrap-tagsinput{
	width:100%;
}

.maintitle{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	 -webkit-box-orient: vertical;
	 overflow: hidden;
	 text-overflow: ellipsis;
}

.view_price{
	cursor: pointer;
}
.float-left{
	float: left
}

.row-attribute{
	width: 100%;
	height: 32px;
	padding: 0 8px;
	border: 1px solid #c4cdd5;
	line-height: 2;
}

.inputTags-list{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	
}
.input_disable{
	height: 32px;
	width: 100%;
	border-radius: 0;
	border: 1px solid #c4cdd5;
	
}

button[disabled], html input[disabled] {
    cursor: no-drop;
}

.block-version .bootstrap-tagsinput{
	border-radius: 0;
    border: 1px solid #c4cdd5;
}

.block-version .label-primary{
	border-radius: 0;
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    color: #676a6c;
    font-size: 12px;
    display: inline-block;
}

.img-model img{
	width: 100% !important;
	height: 100% !important;
}

.sort-modal {
	list-style:none;
	padding-left:0;
	margin-top:16px;
}

.sort-modal .thumb{
	background: #fafbfc;
    border: 1px solid #e3e3e3;
	height:120px;
}

.sort-modal .thumb{
	position: relative;
}
.sort-modal .delete-image{
	display: none;
	position: absolute;
	bottom:5px;
	text-align: center;
	color:#fff;
	width: 100%;
	font-size: 15px;
}
.sort-modal .overlay{
	/* transition: height 2s ease 3s; */
	display: none;
	position: absolute;
	top:0px;
	height:100%;
	width: 100%;
	background: #2c3e50;
	opacity: 0.7;
}
.sort-modal .thumb:hover .overlay{
	
	display: block;
}
.sort-modal .thumb:hover .delete-image{

	display: block;
}

.sort-modal .thumb .delete-image:hover{
	cursor: pointer;
}

.product_edit{
	background-color: transparent;
    color: blue;
    padding: 0;
    border: 0;
    text-align: center;
    width: 100%;
    outline: 0
}

.product_edit:hover{
	text-decoration: underline;
}
.wholesale_del{
	margin-top: 20px
}

.add_version{
	background-color: #e4e4e4;
    border: 1px solid #aaa;
    color: #676a6c;
}

.add_version:hover{
	background: #ccc;
    color: #676a6c;
    border: 1px solid #aaa;
}

.tv-tab-content{
	display: block;
	border: none;
}
.tab-content.tv{
	display: block;
	border: none;
}