body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position:relative;
    background-color: #fff;
}

#wrapper {
    overflow: hidden;
}

.uk-container {
    max-width: 1200px;
}

.page-cover {
    padding: 0;
}

@media(max-width: 1200px) {
    .uk-container {
        width: 100%
    }
    .page-cover {
        padding: 0 20px;
    }
}


/**{
	border: 1px solid #000;
}*/


/*============COMMON===========*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    border: 0;
    border-radius: 0;
    display: block;
    font-size: 12px;
    height: 35px;
    width: 100%;
    outline: none;
}

.modal {
    position: fixed;
    display: none;
    z-index: 99;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.enable {
    display: block !important;
}

.modal-content-review {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    animation: 0.3s ease-out 0s normal forwards 1 running modal-inner-in;
}


/* HTML5 display-role reset for older browsers */

button {
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.text-icon {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
}

.thumb-ratio {
    position: relative;
    padding-top: 50%;
}

.thumb-ratio>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.tab-item {
    display: none;
}

.tab-item.enable {
    display: block;
}

.modal-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2522228a;
    z-index: 9999;
    overflow: auto;
    padding: 50px 0;
    display: none;
}

.modal-body {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.closed-modal {
    position: absolute;
    top: -13px;
    right: 0;
    font-size: 30px;
}

.iframe-video {
    position: relative;
    padding-top: 56.25%;
}

.iframe-video iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.panel-head .text-main.type-1 {
    font-size: 20px;
}

.panel-body .panel-decription.type-1 {
    font-size: 14px;
}

.list-img .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 1;
    background: #fff;
    outline: none;
}

.list-img .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 1;
    background: #fff;
    outline: none;
}

.list-img .owl-carousel .img-slide:hover>* {
    left: 0;
}

.text-center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.nav-item a {
    display: block;
    color: #000;
    padding: 15px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.key-color {
    color: #fdb71d;
}

.bg-key-color {
    background-color: #fdb71d;
}

.bg-white {
    background-color: #fff;
}

.white {
    color: #fff;
}

.text-title {
    font-weight: 900;
    text-align: center;
    color: #ce8404;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.1;
}

.text-title-white {
    font-weight: 900;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.1;
}


/* ######################## Header for mobile ######################## */

.mobile-header {
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.mobile-header .upper {
    padding: 7px 10px;
    position: relative;
    text-align: center;
    background: #ce8404;
}

.mobile-header .logo {
    display: inline-block;
}

.mobile-header .logo a {
    width: 150px;
}

.mobile-header .lower {
    position: relative;
    padding: 5px;
    background: #fff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.mobile-search .form {
    position: relative;
    padding-right: 60px;
}

.mobile-search .form .input-text {
    display: block;
    height: 32px;
    background: #fff;
    font-size: 13px;
    line-height: 32px;
    color: #000;
    border: 1px solid #ce8404;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
}

.mobile-search .form .btn-submit {
    display: block;
    position: absolute;
    height: 32px;
    width: 60px;
    top: 0px;
    left: initial;
    right: 0px;
    background: #ce8404;
    border: 1px solid #ce8404;
    cursor: pointer;
    font-size: 20px;
    color: #ce8404;
}

.mobile-search .form .input-text::-webkit-input-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-search .form .input-text::-moz-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-search .form .input-text:-ms-input-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-search .form .input-text:-moz-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-hotline {
    display: block;
    position: absolute;
    width: 27px;
    height: 28px;
    left: initial;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: url(img/icon_hotline_mobile.png) 0px 0px no-repeat;
    text-indent: -99999px;
}


/*.product-item{
	height:200px;
	background: red;
}*/

.moblie-menu-btn>* {
    background: #fff;
}

.moblie-menu-btn>*:before,
.moblie-menu-btn>*:after {
    background: #fff;
}


/*######################### HEADER-PC ##############################*/

.hd-upper{
    padding: 5px 0;
}

.hd-hotline{
    color: red;
    font-weight: 500;
    font-size: 18px;
}
#main-nav li {
    position: relative;
}

#main-nav .main-menu>li>a {
    display: block;
    position: relative;
    padding: 39px 0;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

@media (min-width: 1220px){
    #main-nav .main-menu>li+li {
        margin-left: 20px;
    }
}

#main-nav .dropdown-menu {
    display: none;
    animation: slipUp 0.5s ease;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

#main-nav .dropdown-menu .submenu>li>a {
    display: block;
    position: relative;
    padding: 10px 10px 10px 15px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    transition: all .25s ease-in-out;
}

#main-nav .main-menu>li>a:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 30px;
    transition: all .5s;
    width: 0;
    height: 2px;
    background-color:#0075bc;
}

#main-nav .main-menu>li:hover>a:after{
    width: 100%;
    left: 0;
}



#main-nav .main-menu>li:hover>.dropdown-menu {
    display: block;
}

@keyframes slipUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.hd-cart{
    position: relative;
}

.hd-cart img{
    height: 30px;
    width: 30px;
}
.quantity{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -6px;
    right: -6px;
    background: #055092;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    line-height: 15px;
}

/* =============================================================== Footer ============================================================== */

.footer-pc{
    padding: 50px 0;
    background: #055092;
}

.ft-title a{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.ft-information p{
    color: #fff;
    margin-bottom: 15px;
}
#bocongthuong img{
    width: 230px;
}

.ft-menu-title{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.ft-menu li:not(:last-child){
    margin-bottom: 10px;
}
.ft-menu a{
    color: #fff;
}


.send-email-title{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.ft-input-text{
    border: none;
    padding: 0 10px;
    background: #fff;
    border-left: 1px solid #e1e1e1;
    color: #444;
    font-size: 14px;
    display: block;
    line-height: 40px;
    width: 100%;
    padding-right: 100px;
}

.ft-submit{
    position: absolute;
    display: block;
    position: absolute;
    width: 90px;
    height: 35px;
    left: initial;
    top: 0;
    right: 0;
    background: #f58220;
    border: none;
}
/* ============================================================== Body ================================================================= */

.title-panel-general a h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: #004890;
}

.wrap-tour-category,
.wrap-hot-deal{
    margin-bottom: 20px;
}
.video-panel,
.blog-panel,
.tour-category-panel,
.hot-deal-panel{
    padding: 50px 0;
}

.tour-category-img,
.hot-deal-img {
    position: relative;
}

.hot-deal-img .hot-deal-time-end{
    position: relative;
    padding: 10px;
    background-color: #ca9530;
    color: #fff;
}
.tour-category-img a,
.hot-deal-img a{
    overflow: hidden;
}
.tour-category-img img,
.hot-deal-img img{
    height: 200px;
    object-position: top center;
    transition: all ease-in-out 0.2s;
}
.wrap-tour-category:hover img,
.hot-deal-body:hover img{
    transform: scale(1.1);
}

.status-deal{
    background-color: red;
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.tour-category-content,
.hot-deal-content{
    padding: 20px;
    background-color: #f5f5f5;
}
.tour-category-title,
.hot-deal-title{
    color: #333;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    transition: all ease-in-out 0.2s;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.hot-deal-title:hover{
    color: #055092;
}

.hot-deal-price{
    color : red;
    font-weight: 700;
}

.btn-view-all{
    background: #ca932d;
    display: inline-block;
    padding: 8px 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    padding-right: 40px;
    position: relative;
    transition: ease-in-out all 0.2s;
}

.btn-view-all:hover{
    background-color: #055092;
}

.btn-view-all::after{
    content: '';
    display: block;
    position: absolute;
    right: 9px;
    top: 6px;
    width: 20px;
    height: 20px;
    background: url(img/icon/arrow.png);
}

.tour-category-content{
    background: #044f92;
    border-top:2px solid #fff
}

.tour-category-title{
    color: #fff;
    position: relative;
    margin-bottom: 40px;
}

.tour-category-price{
    color: #fff;
    font-weight: 700;
    position: relative;
}

.tour-category-price::before{
    content: '';
    width: 65px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -20px;
}

.btn-view{
    display: inline-block;
    background: #fff;
    padding: 7px 20px;
    color: #333;
    border: 1px solid #055092;
    font-weight: 700;
    font-size: 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.2s;
    border-bottom: 2px solid #ae7c1f;
}

.btn-view:hover{
    border: 1px solid #fff;
    background-color: #055092;
    color:#fff;
    border-bottom: 2px solid #ae7c1f;

}

.slide-body a{
    overflow: hidden;
    position: relative;
}
.slide-body img{
    transition: all ease-in-out 0.2s;
}
.slide-body:hover img{
    transform: scale(1.1);
}
.blog-slide-body{
    position: relative;
}
.blog-img{
    height: 300px;
}


.blog-time{
    position: relative;
    z-index: 100;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-weight: 700;
}
.blog-time::before{
    content:  url(img/icon/icon-king.png);
    display: block;
    position: absolute;
    right: -25px;
    top: 0;
    width: 20px;
    height: 20px;
}

.blog-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,.5);
    z-index: 1;
}

.blog-slide-content{
    position: absolute;
    z-index: 100;
    padding: 10px;
    display: block;
    bottom: 20px;
    left:0;
    width: 100%;
}
.blog-slide-title{
    padding: 15px 15px;
    text-align: center;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s all ease-in-out;
    font-size: 14px;
}

.blog-slide-title:hoveR{
    color: #055092;
}
.btn-rating,
.blog-slide-view{
    color: #fff;
    font-size:14px
}


.modal-content-review {
    position: relative;
    padding-bottom: 35%; /* 16:9 */
    height: 0;
}
.modal-content-review iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.heading-2{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 40px 0;
    line-height: 42px;
}

.description{
    color: #fff;
    line-height: 168%;
    font-size: 17px;
    margin: 0 0 40px 0;
}

.readmore {
    display: inline-block;
    padding: 7px 25px;
    background: #ca932d;
    transition: all ease-in-out 0.2s;
    border-radius: 20px;
    cursor: pointer;
}

.readmore a{
    color: #fff;
}

.readmore:hover{
    background: #055092;
}