
body {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    position:relative;
    background-color: #fff;
}

@font-face {
    font-family: 'Pe-icon-7-stroke';
    src:url('fonts/Icon-font-7/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot?d7yf1v');
    src:url('fonts/Icon-font-7/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
        url('fonts/Icon-font-7/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
        url('fonts/Icon-font-7/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
        url('fonts/Icon-font-7/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}

#wrapper {
    overflow: hidden;
}

.uk-container {
    max-width: 1200px;
}

.page-cover {
    padding: 0;
}

@media(max-width: 1200px) {
    .uk-container {
        width: 100%
    }
    .page-cover {
        padding: 0 20px;
    }
}


/**{
	border: 1px solid #000;
}*/


/*============COMMON===========*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    border: 0;
    border-radius: 0;
    display: block;
    font-size: 12px;
    height: 35px;
    width: 100%;
    outline: none;
}

.modal {
    position: fixed;
    display: none;
    z-index: 99;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.enable {
    display: block !important;
}

.modal-content-review {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    animation: 0.3s ease-out 0s normal forwards 1 running modal-inner-in;
}


/* HTML5 display-role reset for older browsers */

button {
    -webkit-appearance: none;
    background-color: #fff;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.text-icon {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
}

.thumb-ratio {
    position: relative;
    padding-top: 50%;
}

.thumb-ratio>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.tab-item {
    display: none;
}

.tab-item.enable {
    display: block;
}

.modal-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2522228a;
    z-index: 9999;
    overflow: auto;
    padding: 50px 0;
    display: none;
}

.modal-body {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.closed-modal {
    position: absolute;
    top: -13px;
    right: 0;
    font-size: 30px;
}

.iframe-video {
    position: relative;
    padding-top: 56.25%;
}

.iframe-video iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.panel-head .text-main.type-1 {
    font-size: 20px;
}

.panel-body .panel-decription.type-1 {
    font-size: 14px;
}

.list-img .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 1;
    background: #fff;
    outline: none;
}

.list-img .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 1;
    background: #fff;
    outline: none;
}

.list-img .owl-carousel .img-slide:hover>* {
    left: 0;
}

.text-center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.nav-item a {
    display: block;
    color: #000;
    padding: 15px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.key-color {
    color: #fdb71d;
}

.bg-key-color {
    background-color: #fdb71d;
}

.bg-white {
    background-color: #fff;
}

.white {
    color: #fff;
}

.text-title {
    font-weight: 900;
    text-align: center;
    color: #ce8404;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.1;
}

.text-title-white {
    font-weight: 900;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.1;
}


/* ######################## Header for mobile ######################## */

.mobile-header {
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.mobile-header .upper {
    padding: 7px 10px;
    position: relative;
    text-align: center;
    background: #ce8404;
}

.mobile-header .logo {
    display: inline-block;
}

.mobile-header .logo a {
    width: 150px;
}

.mobile-header .lower {
    position: relative;
    padding: 5px;
    background: #fff;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.mobile-search .form {
    position: relative;
    padding-right: 60px;
}

.mobile-search .form .input-text {
    display: block;
    height: 32px;
    background: #fff;
    font-size: 13px;
    line-height: 32px;
    color: #000;
    border: 1px solid #ce8404;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .12);
}

.mobile-search .form .btn-submit {
    display: block;
    position: absolute;
    height: 32px;
    width: 60px;
    top: 0px;
    left: initial;
    right: 0px;
    background: #ce8404;
    border: 1px solid #ce8404;
    cursor: pointer;
    font-size: 20px;
    color: #ce8404;
}

.mobile-search .form .input-text::-webkit-input-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-search .form .input-text::-moz-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-search .form .input-text:-ms-input-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-search .form .input-text:-moz-placeholder {
    color: #333;
    font-size: 13px;
}

.mobile-hotline {
    display: block;
    position: absolute;
    width: 27px;
    height: 28px;
    left: initial;
    right: 10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: url(img/icon_hotline_mobile.png) 0px 0px no-repeat;
    text-indent: -99999px;
}


/*.product-item{
	height:200px;
	background: red;
}*/

.moblie-menu-btn>* {
    background: #fff;
}

.moblie-menu-btn>*:before,
.moblie-menu-btn>*:after {
    background: #fff;
}


/*######################### HEADER-PC ##############################*/

.hd-upper{
    padding: 5px 0;
    border-bottom: 1px solid #ebebeb;
}

.hd-hotline{
    color: red;
    font-weight: 500;
    font-size: 18px;
}
#main-nav li {
    position: relative;
}

#main-nav .main-menu>li>a {
    display: block;
    position: relative;
    padding: 39px 0;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 1220px){
    #main-nav .main-menu>li+li {
        margin-left: 20px;
    }
}

#main-nav .dropdown-menu {
    display: none;
    animation: slipUp 0.5s ease;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 220px;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

#main-nav .dropdown-menu .submenu>li>a {
    display: block;
    position: relative;
    padding: 10px 10px 10px 15px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    transition: all .25s ease-in-out;
}

#main-nav .main-menu>li>a:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 30px;
    transition: all .5s;
    width: 0;
    height: 2px;
    background-color:#0075bc;
}

#main-nav .main-menu>li:hover>a:after{
    width: 100%;
    left: 0;
}

.main-nav li:hover>.sub-menu-2 {
    display: block;
}

.sub-menu-2 {
    position: absolute;
    width: 200px;
    top: 0;
    left: 100%;
    list-style-type: none;
    text-align: left;
    background: #fff none repeat scroll 0 0;
    display: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .35);
    right: auto;
    z-index: 100;
    animation: slipUp 0.5s ease;
}

#main-nav .main-menu>li:hover>.dropdown-menu {
    display: block;
}

@keyframes slipUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.hd-cart{
    position: relative;
}

.hd-cart img{
    height: 30px;
    width: 30px;
}
.quantity{
    position: absolute;
    width: 15px;
    height: 15px;
    top: -6px;
    right: -6px;
    background: #055092;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    line-height: 15px;
}

/* =============================================================== Footer ============================================================== */

.footer-pc{
    padding: 50px 0;
    background: #055092;
}

.ft-title a{
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.ft-information p{
    color: #fff;
    margin-bottom: 15px;
    font-size:15px;
}
#bocongthuong img{
    width: 230px;
}

.ft-menu-title{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.ft-menu li:not(:last-child){
    margin-bottom: 10px;
}
.ft-menu li{margin-bottom:10px;}
.ft-menu a{
    color: #fff;
}


.send-email-title{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.ft-input-text{
    border: none;
    padding: 0 10px;
    background: #fff;
    border-left: 1px solid #e1e1e1;
    color: #444;
    font-size: 14px;
    display: block;
    line-height: 40px;
    width: 100%;
    padding-right: 100px;
}

.ft-submit{
    position: absolute;
    display: block;
    position: absolute;
    width: 90px;
    height: 35px;
    left: initial;
    top: 0;
    right: 0;
    background: #f58220;
    border: none;
}
/* ============================================================== Body ================================================================= */

.title-panel-general a h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: #004890;
}

.wrap-tour-category,
.wrap-hot-deal{
    margin-bottom: 20px;
}
.video-panel,
.blog-panel,
.tour-category-panel,
.hot-deal-panel{
    padding: 50px 0;
}

.tour-category-img,
.hot-deal-img {
    position: relative;
}

.hot-deal-img .hot-deal-time-end{
    position: relative;
    padding: 10px;
    background-color: #ca9530;
    color: #fff;
}
.tour-category-img a,
.hot-deal-img a{
    overflow: hidden;
}
.tour-category-img,
.hot-deal-img{
    object-position: top center;
    transition: all ease-in-out 0.2s;
}
.tour-category-img .image,
.hot-deal-img .image{
    height: 250px;
}
.hot-deal-body{
    border-right: 1px solid #fff;
}
.wrap-tour-category:hover img,
.hot-deal-body:hover img{
    transform: scale(1.1);
}

.status-deal{
    background-color: red;
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.tour-category-content,
.hot-deal-content{
    padding: 20px;
    background-color: #f5f5f5;
}
.tour-category-title,
.hot-deal-title{
    color: #333;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    transition: all ease-in-out 0.2s;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.hot-deal-title:hover{
    color: #055092;
}

.hot-deal-price{
    color : red;
    font-weight: 700;
    font-size:20px;
}

.btn-view-all{
    background: #ca932d;
    display: inline-block;
    padding: 8px 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    padding-right: 40px;
    position: relative;
    transition: ease-in-out all 0.2s;
}

.btn-view-all:hover{
    background-color: #055092;
}

.btn-view-all::after{
    content: '';
    display: block;
    position: absolute;
    right: 9px;
    top: 6px;
    width: 20px;
    height: 20px;
    background: url(img/icon/arrow.png);
}

.tour-category-content{
    background: #044f92;
    border-top:2px solid #fff
}

.tour-category-title{
    color: #fff;
    position: relative;
    margin-bottom: 40px;
}

.tour-category-price{
    color: #fff;
    font-weight: 700;
    position: relative;
    font-size:17px;
}

.tour-category-price::before{
    content: '';
    width: 65px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -20px;
}

.btn-view{
    display: inline-block;
    background: #fff;
    padding: 7px 20px;
    color: #333;
    border: 1px solid #055092;
    font-weight: 700;
    font-size: 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.2s;
    border-bottom: 2px solid #ae7c1f;
}

.btn-view:hover{
    border: 1px solid #fff;
    background-color: #055092;
    color:#fff;
    border-bottom: 2px solid #ae7c1f;

}

.slide-body a{
    overflow: hidden;
    position: relative;
}
.slide-body img{
    transition: all ease-in-out 0.2s;
}
.slide-body:hover img{
    transform: scale(1.1);
}
.blog-slide-body{
    position: relative;
}
.blog-img{
    height: 300px;
}


.blog-time{
    position: relative;
    z-index: 100;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-weight: 700;
}
.blog-time::before{
    content:  url(img/icon/icon-king.png);
    display: block;
    position: absolute;
    right: -25px;
    top: 0;
    width: 20px;
    height: 20px;
}

.blog-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,.5);
    z-index: 1;
}

.blog-slide-content{
    position: absolute;
    z-index: 100;
    padding: 10px;
    display: block;
    bottom: 20px;
    left:0;
    width: 100%;
}
.blog-slide-title{
    padding: 15px 15px;
    text-align: center;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s all ease-in-out;
    font-size: 14px;
}

.blog-slide-title:hoveR{
    color: #055092;
}
.btn-rating,
.blog-slide-view{
    color: #fff;
    font-size:14px
}


.modal-content-review {
    position: relative;
    padding-bottom: 35%; /* 16:9 */
    height: 0;
}
.modal-content-review iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.heading-2{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 40px 0;
    line-height: 42px;
}

.description{
    color: #fff;
    line-height: 168%;
    font-size: 17px;
    margin: 0 0 40px 0;
}

.readmore {
    display: inline-block;
    padding: 7px 25px;
    background: #ca932d;
    transition: all ease-in-out 0.2s;
    border-radius: 20px;
    cursor: pointer;
}

.readmore a{
    color: #fff;
}

.readmore:hover{
    background: #055092;
}

.css_submenu{
    top: 0 !important;
    left: 100% !important;
}

.dropdown-menu .submenu>li:hover>.css_submenu{
    display: block !important;
}

.va-list-tour-panel{
    padding: 50px 0;
}

.va-title-main {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

.va-title {
    margin-bottom: 20px;
    position: relative;
}

.va-tour-search {
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    padding: 14px;
}



.check-radio {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 25px;
    text-transform: capitalize;
}
.check-radio input[type=radio] {
    opacity: 0;
    position: absolute;
}

.check-radio .style-check {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: #f4f4f4;
    border: 1px solid #f1f1f1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-top: -2px;
}

.check-radio input[type=radio]:checked ~ .style-check {
    background: #ffffff;
    border: 6px solid #d82727;
}

.va-btn-tour {
    height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    background: #d82727;
    padding: 5px;
    text-align: center;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 0 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.va-btn-tour i {
    font-size: 20px;
    line-height: 30px;
    padding-right: 8px;
}

.va-table-list table thead td {
    background: #003c71;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 15px;
    height: 45px;
    vertical-align: middle;
}
.va-table-list table {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
}

.va-table-list table td {
    padding: 12px 15px;
    border: 1px solid #d6e3ef;
    vertical-align: middle;
    position: relative;
}

.va-table-list a {
    color: #000000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

 .va-table-list a:hover {
    color: #d82727;
}

.va-table-list .ribbon {
    display: inline-block;
    margin-left: 10px;
}

.va-table-list .ribbon .rib {
    font-size: 11px;
    line-height: 16px;
    padding: 3px 5px;
    color: #ffffff;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #d82727;
    border-color: #d82727;
}

.va-table-list .i-hot img {
    height: 28px;
}
.select2-container{
    width: 100% !important;
}

.va-tour-body .select2{
    height: 40px
}

.select2-results__option,
.va-tour-body .select2 {
    text-transform: capitalize;
}
.select2-container .select2-selection--single {
    height: 100%;
}
.va-tour-body .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 37px;
}

.va-num-page{
   width: 100%;
    margin: 0 0 20px 0;
    background: transparent;
    text-align: left;
    padding-top: 0;
}

.va-num-page ul {
    text-align: left;
}

.va-num-page ul li {
    display: inline-block;
    margin: 0 4px 4px 0;
    text-align: center;
}

.va-num-page ul li a:hover, .va-num-page ul li.active a{
    color: #ffffff;
    background-color: #d82727;
    border-color: #d82727;
}

.va-num-page ul li a {
    display: table-cell;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background: #eeeeee;
    font-size: 18px;
    line-height: 26px;
    vertical-align: middle;
    color: #666666;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bg-blue {
    background-color: #0f62ac;
}

.white {
    color: #fff;
}

.btn-tab-aside {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #0f62ac;
    background-color: #fff;
    display: block;
    font-weight: 500;
    padding: 8px 16px;
    color: #4c4c4c;
    transition: all ease-in-out 0.2s;
}

.btn-tab-aside:hover {
    background-color: #0f62ac;
    color: #fff;
}

.btn-tab-aside:hover i {
    color: #fff;
}

.btn-tab-aside i {
    transition: all ease-in-out 0.2s;
    color: #0f62ac;
    margin-right: 10px;
}

.color-star {
    color: #fc0 !important;
}


/* ================================================================= */

.address-tourdetail-panel {
    width: 100%;
    padding: 10px 0;
}

.uk-breadcrumb {
    font-size: 14px;
    line-height: 1.2;
}

.tour-detail-panel {
    padding: 30px 0;
}

.btn-share a,
.btn-like a {
    color: #fff;
    font-size: 13px;
    display: inline-block;
    height: 28px;
    background: #1877f2;
    padding: 0 8px;
    border-radius: 4px;
    border: 0;
    line-height: 28px;
}

.rating-result,
.rating-star-info {
    color: #666;
    margin-right: 5px;
}

.rating-result span {
    font-weight: 700;
    color: #000;
    margin-right: 5px;
}

.tab-aside li {
    margin-bottom: 25px;
    cursor: pointer;
}

.tab-aside li.current {
    background-color: #0f62ac;
    color: #fff;
}

.tab-aside li.current i {
    color: #fff;
}

.tab-content-detail.current,
.tab-content.current {
    display: inherit;
}

.tab-content-detail,
.tab-content {
    display: none;
    padding: 15px;
}

.info-tour-content,
.wrap-carousel {
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 3px;
}

.tabs-content-aside .owl-theme .owl-dots {
    position: absolute;
    bottom: 10px;
    margin: auto;
    text-align: center;
    display: block;
    width: 100%;
}

.owl-theme .owl-dots .owl-dot {
    outline: 0;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 32px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    line-height: 32px;
    background-color: #fff;
    opacity: 0.5;
}

.owl-carousel .owl-nav {
    width: 100%;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 10px;
    position: absolute;
    bottom: 45%;
    z-index: 20;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 10px;
    position: absolute;
    bottom: 45%;
    z-index: 20;
}

.wrap-info-tour i {
    margin-right: 10px;
    width: 12px;
    color: #0f62ac;
}

.info-tour-text span {
    margin-left: 10px;
    font-weight: 700;
    color: #000;
}

.wrap-info-tour {
    margin-bottom: 10px;
}

.info-tour-content {
    padding: 20px;
}

.tab-detail-tour {
    padding: 20px;
    background-color: #0f62ac;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab-detail-tour li {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    color: #0087ff;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    transition: ease-in-out all 0.2s;
}

.tab-detail-tour li:hover {
    color: #fff;
    background-color: #fc0;
}

.tab-detail-tour li.current {
    background-color: #0087ff;
    color: #fff;
}

.tab-content-detail-tour>li {
    border: 1px solid #ccc;
    border-top: 0;
    padding: 20px;
}

.tab-detail-text span {
    font-weight: bolder;
}

.list-contact li {
    padding-left: 30px;
    margin-bottom: 10px;
}

.uk-accordion-title {
    background-color: #fff;
    border: 1px solid #0087ff;
    padding: 10px 20px;
    display: flex;
    border-radius: 3px;
    align-items: center;
    margin-bottom: 20px;
}

.uk-accordion-title .days {
    background-color: #0f62ac;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
}

.uk-accordion-title.uk-active {
    background-color: #0f62ac;
    color: #fff;
}

.uk-accordion-title.uk-active .days {
    background-color: #fc0;
}

.btn-add-cart,
.time {
    flex-basis: 120px;
    min-width: 120px;
}

.btn-add-cart a {
    background-color: #fc0;
    color: #fff;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
}

.wrap-price-table {
    background-color: #f1f1f1;
    padding: 10px;
}

.sub-price {
    background: #e6e6e6;
}

.type-price {
    margin-bottom: 10px;
}

.type-price span {
    color: red;
}

.modal {
    position: fixed;
    display: none;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.enable {
    display: block !important;
}

.modal-content-review {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
    position: relative;
    padding-bottom: 30px;
    animation: 0.3s ease-out 0s normal forwards 1 running modal-inner-in;
}

.w50 {
    width: 50%;
}

.center {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.modal-title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.btn-see-cart {
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    background-color: #fc0;
    border: 0;
    padding: 10px 20px;
    margin-right: 10px;
}

.btn-pay {
    border-radius: 3px;
    border: 0;
    display: inline-block;
    color: #fff;
    background-color: #1877f2;
    padding: 10px 20px;
    margin-right: 10px;
}

.rating-tab .rating-star-info span {
    width: 120px;
}

.list-status li {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
}

.status {
    font-weight: 700;
    color: #666;
}

.number-star {
    font-weight: 700;
    color: #0f62ac;
}

.input-general textarea,
.input-general input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-general textarea {
    height: 50px;
}

.input-general textarea::placeholder,
.input-general input::placeholder {
    font-style: italic;
}

.btn-send button {
    width: 100%;
    background-color: #0087ff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #FFF;
}

.form-input-title {
    background-color: #0f62ac;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 12px;
    color: #fff;
    text-transform: uppercase;
}

.form-input-content {
    border: 1px solid #dee2e6;
    padding: 12px;
}

.name-input span {
    color: red;
}

.rating-stars ul {
    list-style-type: none;
    padding: 0;
}

.rating-stars ul>li.star {
    display: inline-block;
    cursor: pointer;
}

.rating-stars ul>li.star>i.fa {
    font-size: 14px;
    color: #ccc;
}

.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
}

.rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}

.wrap-rating .rating-star-info span {
    width: 120px;
}

.wrap-aside {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    border-radius: 3px;
}

.key-price {
    text-align: center;
    margin-bottom: 20px;
}

.key-price span {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #ff0013;
}

.btn-keep {
    padding: 10px 0;
    border: none;
    width: 100%;
    display: block;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #ff9300;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
}

.create-help {
    font-size: 16px;
    font-weight: 700;
    color: #0f62ac;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #0f62ac;
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
}

.create-help span {
    font-size: 10px;
    color: #666;
    width: 100%;
    text-align: center;
}

.info-contact a {
    transition: all ease-in-out 0.2s;
}

.info-contact a:hover {
    text-decoration: underline;
}

.info-contact i {
    width: 15px;
    color: #0f62ac;
    font-size: 16px;
    margin-right: 10px;
}

.modal-content-panel {
    padding: 0 20px;
}

.wrap-modal {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.list-tags li {
    display: inline-block;
    margin-right: 10px;
}

.list-tags li a:hover {
    text-decoration: underline;
}

.sort-by {
    display: flex;
}

.num-cmt {
    font-weight: 700;
}

.nice-select {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 10px;
}

.wrap-comment-upper {
    border-bottom: 1px solid #ddd;
}

.img-avatar img {
    width: 50px;
    height: 50px;
}

.wrap-input-cmt input {
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    outline: 0;
}

.wrap-input-cmt {
    width: calc(100% - 60px);
}

.fb-comments,
.fb-comments * {
    width: 100% !important;
}

@media (max-width:768px) {
    .tab-detail-tour li {
        display: block;
        margin-bottom: 20px;
    }
    h1 {
        padding: 0;
    }
}
.slide-company-body .image{
    height: 80px;
    border:1px solid #ccc;
}
.ft-row-panel .ft-title{
    font-size:18px;
}
.tab-content .wrap-img-tour-detail .img-cover{
    height: 500px;
}
.tour-detail-wrapp .wrap-carousel{
    padding:0;
}
.tab-content-detail{
    line-height: 168%;
    font-size:16px;
}
.tab-content-detail table,
.tab-content-detail .table{
    width:100% !important;
}
.va-articleCat-panel{
    padding: 50px 0;
    position: relative;
}

.uk-breadcrumb a{
    color: #000;
}

.aside-panel .aside-head .aside-heading {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    color: #1D8ACB;
    border-bottom: 1px solid #ccc;
}
.aside-panel .aside-head .aside-heading:before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #055092;
    top: initial;
    bottom: 0;
    left: 0;
    position: absolute;
}

.aside-news .list-news li {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.aside-news .list-news .article .thumb {
    width: 63px;
    float: left;
}

.aside-news .list-news .article .thumb .image {
    height: 60px;
}

.aside-news .list-news .article .info {
    width: calc(100% - 63px);
    width: -webkit-calc(100% - 63px);
    width: -moz-calc(100% - 63px);
    width: -o-calc(100% - 63px);
    float: left;
    padding-left: 10px;
}

.aside-news .list-news .article .info .title {
    margin: 0 0 2px 0;
}

.aside-news .list-news .article .info .title>* {
    color: #333;
    font-size: 14px;
    text-transform: capitalize;
     display: -webkit-box;
     -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
}

.aside-news .list-news .article .info .va-readmore>* {
    color: #ca932d;
    font-style: italic;
    font-weight: 700;
}

.aside-news .list-news .article .info .title>:hover {
    color: #055092;
}

.artcatalogue, .artdetail {
    margin: 0 0 25px 0;
}

@media (min-width: 960px){
    .heading-1 {
        position: relative;
        font-size: 36px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
    }
}


@media (min-width: 960px)
{
    .heading-1>* {
    display: inline-block;
    position: relative;
    color: #f15922;
}
}

.heading-1 * {
    display: inline-block;
    color: #004890;
}
.lib-grid-15 {
    margin-left: -15px;position: relative;
    height: 461px;
}

.artcatalogue .list-articles>li {
    margin-bottom: 15px;
}

.artcatalogue .article {
    position: relative;
    padding: 15px 15px;
    background: #fff;
    border: 1px solid #c8c8c8;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.artcatalogue .article .title {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 24px;
}
.artcatalogue .article .title, .homepage-news .article .title {
    max-height: 40px;
    margin: 0 0 8px 0;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artcatalogue .article .title a, .homepage-news .article .title a {
    color: #333;
}
.artcatalogue .article .title a {
    color: #055092;
}
.artcatalogue .article .thumb, .homepage-news .article .thumb {
    position: relative;
    overflow: hidden;
}
.artcatalogue .article .thumb {
    margin: 0 0 15px 0;
}

@media (min-width: 1220px)
{.artcatalogue .article .image {
    max-height: 265px;
}}
.artcatalogue .article .image {
    position: relative;
    overflow: hidden;
}
@media (min-width: 1220px)
{
    .artcatalogue .article .image {
    height: 220px;
}
}

.artcatalogue .article .image img {
    position: relative;
    max-height: 245px;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.artcatalogue .article .infor, .homepage-news .article .infor {
    border-top: none;
}
.artcatalogue .article .description, .homepage-news .article .description {
    margin: 0 0 5px 0;
    height: 60px;
    color: #000;
    background: transparent;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    display: -webkit-box;
     -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 overflow: hidden;
}
.artcatalogue .article .meta {
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
}
.artcatalogue .article .meta, .homepage-news .article .meta {
    margin: 0 0 10px 0;
}
.artcatalogue .article .description {
    height: 68px;
    color: #000;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.artcatalogue .article .viewmore, .homepage-news .article .viewmore {
    text-align: right;
}
.artcatalogue .article .meta>*, .homepage-news .article .meta>* {
    display: block;
    position: relative;
    padding-left: 20px;
    color: #898989;
    font-size: 12px;
    line-height: 16px;
}

.artcatalogue .article .viewmore a, .homepage-news .article .viewmore a {
    color: #f15922;
    font-size: 14px;
    line-height: 20px;
}
.artcatalogue .article .viewmore a {
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    background: #055092;
    border: 1px solid #055092;
    font-family: Arial,sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.artcatalogue .article .meta>*+*, .homepage-news .article .meta>*+* {
    margin-left: 15px;
}
.artcatalogue .article .meta>*, .homepage-news .article .meta>* {
    display: block;
    position: relative;
    padding-left: 20px;
    color: #898989;
    font-size: 12px;
    line-height: 16px;
}
.artcatalogue .article .social li {
    float: left;
}

.artcatalogue .article .social a {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(templates/frontend/resources/img/facebook.jpg);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px;
    text-indent: -99999px;
}

.va-aside {
    padding-bottom: 20px;
    border-right: 1px solid #ddd;
    padding-right: 20px
}

.article .description span{
    color: #000 !important;
    background: transparent !important;
}

.text-danger{
    color: red;
    font-size: 14px;
    font-style: italic;
}

.artcatalogue .article .image:hover img {
    -webkit-transform: scale(1.1) rotate(5deg);
    -moz-transform: scale(1.1) rotate(5deg);
    -o-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
}

.art-title{
    font-size:22px;text-transform:uppercase;
}

.art-same .list-article .article .thumb .image {
    height: 150px;
}

@media (min-width: 960px){
    .img-flash:hover>* {
    opacity: 1;
    -webkit-animation: imgFlash 1.5s ease;
    -moz-animation: imgFlash 1.5s ease;
    -o-animation: imgFlash 1.5s ease;
    animation: imgFlash 1.5s ease;
}
}

.art-same .list-article .article .title>* {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
}

.art-same .list-article .article .title>:hover {
    color: #055092;
}
.aside-list-title{
    padding: 15px 0;
    border-color: #d7d7d7;
    border-bottom: none;
    color: #333;display: block;
    position: relative;border-top: 1px solid #d5d5d5;font-size: 17px;
    line-height: 20px;
}

.check-aside input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.check-aside{
    font-size: 14px;
    line-height: 18px;
    color: #333;
    text-transform: capitalize;
}

.aside-tour{
    padding-bottom: 20px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}

.va-btn-submit{
    position: absolute;
    font-size: 14px;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

.va-form{
    position: relative;
}

.img-slide, .img-slide>*, .img-zoomin, .img-zoomin>*, .img-zoomout, .img-zoomout>*, [class*=img-caption] {
    position: relative;
}
@media (min-width: 960px)
{
    .img-zoomin>* {
    -webkit-transition: transform .4s ease;
    -moz-transition: transform .4s ease;
    -o-transition: transform .4s ease;
    transition: transform .4s ease;
}
}

@media (min-width: 1220px)
{   
    .tour .thumb {
        height: 205px;
        width: 300px;
    }
}

.tour .infor{
    width: calc(100% - 300px);
}

.infor .order{
    width: 250px;
}

.star i {
    color: yellow;
}

 .wrap-price .old {
    text-decoration: line-through;
    font-size: 15px;
    min-height: 20px;
    color: #333;
    margin: 0 0 15px 0;
}
 .wrap-price span {
    display: block;
}

 .wrap-price .new {
    font-size: 27px;
    color: #ca932c;
    font-weight: 700;
}

.wrap-content-tour{
    width: calc(100% - 250px);

}

 .tour .excerpt li,  .excerpt li {
    margin: 0 0 8px 0;
    color: #000;
    font-size: 14px;
    line-height: 20px;
}

 .tour .excerpt li .fa,  .excerpt li .fa {
    display: inline-block;
    margin-right: 5px;
    color: #0075bc;
}

.tour .title a, #search-page  .tour .title a {
    color: #333;
}


.viewmore a{
    display: inline-block;
    position: relative;
    width: 140px;
    padding: 10px 10px;
    background: #ca932d;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    -ms-border-radius: 3px 3px;
    -o-border-radius: 3px 3px;
    border-radius: 3px 3px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}


.viewmore a:hover{
    background: #055092;
}

 .list-tour>li+li {
    padding-top: 15px;
    border-top: 1px solid #e1e1e1;
}